/* style rules added here will be loaded */

#container-input-notes,
#container-input-quantity,
#container-text-name {
	margin-top: 1em;
}

#content {
	margin-top: 2em;
}

.danger {
	border-color: red;
}